
services:
  yasb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yasb
    environment:
      - MONGO_DB_URI=mongodb://mongo:mongo@mongodb:27017/
    ports:
      - 8080:8080
    volumes:
      - ./:/app
    depends_on:
      - mongodb
  mongodb:
    container_name: yasb_mongo
    image: mongo:noble
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
    ports:
      - 27017:27017
    volumes:
      - ./mongo_data:/data/db
